__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

.idea/
.env/
.venv/
venv/
ENV/

.vscode/
*.code-workspace

*.http
.coverage
htmlcov/
pytest_cache/
.mypy_cache/
.dmypy.json
.pytest_cache/

*.so
*.egg
*.egg-info/
dist/
build/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
file::memory:

celerybeat-schedule.db
dump.rdb
db.sqlite3
